<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
</head>
<body>

<h1 layout:fragment="header">
	Usuários
</h1>

<div layout:fragment="content" class="container">
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Username</td>
			<th scope="col">Password</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user : ${users}">
			<th scope="row" th:text="${user.username}">Username</th>
			<th th:text="${user.password}">Password</th>
		</tr>
		</tbody>
	</table>
</div>

</body>
</html>