<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Biblioteca</title>
</head>
<body>
<h1 layout:fragment="header">Bem-vindo(a)!</h1>
<div layout:fragment="content" class="container">
    <form name="f" th:action="@{/login}" method="post">
	    <div class="form-group row">
			<div th:if="${param.error}" class="alert alert-error"> Usuário ou senha inválido. </div>
	    	<label for="username">Login</label>
	    	<br/>
	            <input type="text" id="username" name="username" class="form-control-plaintext" />
	            <br/>
	    	<label for="password">Senha</label>
	    	<br/>
	            <input type="password" id="password" name="password" class="form-control-plaintext" />
	            <br/>
	            <br/>
	        <button type="submit" class="btn btn-success">Entrar</button>
	    </div>
    </form>
</div>
</body>
</html>